* {
    box-sizing: border-box;
}

/*general*/
html, body {
    height: 100%;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/*general*/
header {
    position: fixed;
    display: flex;
    align-items: center;
    padding: .7rem;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    border-bottom: solid 1px black;
}

.navHeader {
    display: flex;
}

.navHeader a {
    color: white;
    font-family: 'Quicksand', sans-serif;
    /* transition: background-color .3s ease; */
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
    padding: .5rem 1.5rem;
    /* background-color: rgb(33, 31, 31); */
    /* border-radius: .5rem; */
    border: none;
}

.navHeader a:hover {
    color: rgb(68, 169, 231);
    text-decoration: underline;
    /* background-color: black; */
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: white;
}



span {
    color: white;
    height: 4rem;
    border: solid 1px;
    margin: .5rem;
}


.fastImage {
    width: 40px;
    height: 40px;
}



/*articulos*/
.articulos {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: start;
    margin-bottom: -48px;
}

.nosotros {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5rem;
    text-align: center;
    color: white;
    max-width: 60%;
    height: 350px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .6);
    /* border: solid 1px black; */
    border-radius: 10px;
}

.nosotros p {
    font-size: 12px;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/nosotrosWllpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 713px;
}

.section1 h3 {
    font-size: 30px;
    margin: 0;
}

.section1 p {
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: center;
    margin-left: 2.5rem;
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/table3.jpg");
    width: 100%;
    height: 730px;
    background-repeat: no-repeat;
    background-size: cover;
}

.section2 p {
    font-weight: bold;
    font-family: 'Nothing You Could Do', cursive;
}

.price {
    border: none;
    text-decoration: none;
}


/* CARDS */

.cardContainer {
    cursor: pointer;
    margin-right: 3rem;
    background-color: rgba(0, 0, 0, .5);
    flex-direction: column;
    margin-top: 5rem;
    border: solid 1px black;
    border-radius: 10px;
    width: 250px;
    height: 360px;
}


.cardContainer img {
    width: 100%;
    margin: 0;
    border-radius: 10px 10px 0 0;
}

.cardContainer p {
    color: white;
    font-size: 14px;
    margin: 10px;
    font-weight: bold;
}


.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://static.vecteezy.com/system/resources/previews/003/823/542/original/spices-for-use-as-cooking-ingredients-on-a-wooden-background-with-fresh-vegetables-healthy-food-herbs-organic-vegetables-on-the-table-raw-materials-of-cooking-preparation-tom-yum-free-photo.jpg");
    width: 100%;
    height: 730px;
    background-repeat: no-repeat;
    background-size: cover;
}

video {
    margin-top: 8rem;
}

.video {
    width: 70%;
    height: 60%;
}


.videoButtons {
    display: flex;
}




/* FORMULARIO */

.fomrContainer{
    display: flex;
    align-items: center;
    background-image: url("/images/formImage.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: .1rem;
}

.fomrContainer h3 {
    color: white;
}


form {
    width: 45%;
    background-color: rgba(0, 0, 0, .8);
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    border: solid 1px rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding: 2rem;
    padding-bottom: .5rem;
}

input {
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .8);
    padding: .5rem;
    border: none;
    border-radius: 5px;
}

input:hover {
    background-color: rgba(0, 0, 0, .5);
}

label{
    color: white;
    margin-right: .5rem;
}

.email {
    margin-bottom: 2rem;
}

.comment {
    display: flex;
}

textarea {
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    width: 80%;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    padding: .5rem;
}

textarea:hover {
    background-color: rgba(0, 0, 0, .5);
}

.buttons {
    display: flex;
    justify-content: end;
    margin: 1rem;
}

button {
    transition: background-color .3s ease;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: .5rem;
    border-radius: 5px;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.conditionsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
}


button:hover {
    color: rgb(68, 169, 231);
}


.footer {
    background-color: rgb(178, 178, 212);
    padding: 2rem;
    border-top: solid 1px;
    display: flex;
    justify-content: space-between;
}

.copyright {
    display: flex;
    align-items: center;
}

.footer p {
    font-size: 11px;
    margin-right: 3px;
}

.footer img {
    margin-right: 3px;
    width: 12px;
    height: 12px;
}

.social {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social img {
    cursor: pointer;
    width: 22px;
    height: 22px;
}

































